body
{
  margin: 0;
  background-color: black;
    color: white;
    position:relative;
    font-family:  'Myriad_pro';
    height:100vh;
    width:100vw;
    overflow: hidden;
}
@font-face {
    font-family: Franklin_gothic;
    src: url(fonts/framdit2.ttf);
}
@font-face {
    font-family: Franklin_gothic1;
    src: url(fonts/framdit.ttf);
}
@font-face {
    font-family: Myriad_pro;
    src: url("fonts/myriad/Myriad Pro Regular.ttf");
}
@font-face {
    font-family: American_captain;
    src: url("fonts/American Captain Patrius 02 FRE.otf");
}
#heading
{
  display: block;
  position:absolute;
  top:0;
  left:0;
  height:5vw;
  width:42vw;
  background-color: #00ffff;
  color: black;
  font-size:4vw; 
  border-radius:8px; 
  text-align: center;
  z-index: -2;
}
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vw;
  width: 100vw;
  position: relative;
  margin: 0;
  top:10.5vh;

}
.container div
{
  position: absolute;
}

.container #holder
{
  position: absolute ;
  top: 1vh;
  left: 1vw;
  width:40vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3vw;
  overflow: hidden;
}
.container #photo0
{  display:block;
  background-image: url("images/0.jpg");
  background-size: cover;
  border-radius: 50%;
   border: 5px solid #00ffff;
    width:30vw;
    height:30vw;
    margin:0;
    left:4.75vw;
    top:4vh;
    opacity:1;
  /*animation:exit 0.5s forwards;*/
}
.container #photo1
{ display:block;
  background-size: cover;
  border-radius: 50%;
   background-image: url("images/1.jpg");
   border: 5px solid #00ffff;
    width:30vw;
    height:30vw;
    margin:0;
    left:4.75vw;
    top:4vh;
   opacity:0;
  /* animation:enter 0.5s forwards;*/
}
.container #photo2
{ display:block;
  background-size: cover;
  border-radius: 50%;
   background-image: url("images/2.jpg");
   border: 5px solid #00ffff;
    width:30vw;
    height:30vw;
    margin:0;
    left:4.75vw;
    top:4vh;
   opacity:0;
}
.container #photo3
{ display:block;
  background-size: cover;
  border-radius: 50%;
   background-image: url("images/3.jpg");
   border: 5px solid #00ffff;
    width:30vw;
    height:30vw;
    margin:0;
    left:4.75vw;
    top:4vh;
   opacity:0;
}
.container #photo4
{ display:block;
  background-size: cover;
  border-radius: 50%;
   background-image: url("images/4.jpg");
   border: 5px solid #00ffff;
    width:30vw;
    height:30vw;
    margin:0;
    left:4.75vw;
    top:4vh;
   opacity:0;
}
.container #photo5
{ display:block;
  background-size: cover;
  border-radius: 50%;
   background-image: url("images/5.jpg");
   border: 5px solid #00ffff;
    width:30vw;
    height:30vw;
    margin:0;
    left:4.75vw;
    top:4vh;
   opacity:0;
}
@-webkit-keyframes  exit {
    0%{
     opacity:1;
    transform: scale(1);
    }
    50%{
     transform: scale(0.8);
     opacity:1;
    }
    99%
    {
      transform: scale(1);
    }
    100%
    {
      opacity:0;
    }
    
}
@-webkit-keyframes enter {
    0%{
      opacity:1;
      transform: scale(1.1);
    }
    50%{
    
    }
    99%
    {
     
    }
    100%
    {
      transform: scale(1);
      opacity:1;

    }
    
}


.container #text
{
  display: block;
  right: 3vw;
  height:12.5vw;
  width: 62vw;
  text-align: center;
  top: 16.5vh;
}
.container #text #team_Name
{   
  
  display: block;
  font-size:2.5vw;
    height:2.8vw;
    border-bottom: 3px solid white;
    width:13vw;
    right: 35vw;
    top: -0.8vw;
    /*padding-bottom: 0px;*/
    text-align: center;
    /*box-sizing: content-box;*/
}
.container #text #name1
{
  display: block;
  font-family:American_captain;
  font-size:5vw;
  color:white;
  right:12vw;
  top: 5vh;
}
.container #text #name2
{
  display: block;
  font-family:American_captain;
  font-size:5vw;
  color:white;
  right:11.5vw;
  top: 16vh;
  color:#00ffff;
}
.container #text #underline
{
  display:block;
  width:11vw;
  height:2vh;
  border-bottom: white solid 4px;
  border-radius: 2px;
  right:-2vw;
  top:23.5vh;
}
.container #text #icon_next 
{
font-size: 5vw;
display: block;
 position:absolute;
 right:4vw;
 top:13vh;
}
.container #text #icon_previous 
{
font-size: 5vw;
display: block;
position:absolute;
right:48vw;
top:13vh; 
}
.bottom{
position: absolute;
display: block;
height: 2.5vh;
width: 100vw;
top:80vh;
}
.bottom div
{
  position: absolute;
  color:white;
}
.bottom #randomText
{
   font-size: 3vw;
   left: 7.5vw;
   font-family: Franklin_gothic;

}
.bottom #venue1
{
   font-family: Franklin_gothic;
   font-size:2.5vw;
   right: 18vw;

}
.bottom #venue2
{
    font-family: Franklin_gothic;
    color: #00ffff;
    font-size:2.5vw;
    right: 15vw;
}
.bottom #venue3
{
    font-family: Franklin_gothic;
    right:5vw;
    font-size:2.5vw;
}
@media (max-width: 500px) 
{#heading
{
  display: block;
  position:absolute;
  top:0.5vh;
  left:0;
  height:10vh;
  width:100vw;
  background-color: #000000;
  color: white;
  font-size:12vw; 
  border-radius:0; 
  text-align: center;

}
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  width: 100vw;
  position: relative;
  margin: 0;
  top:10.5vh;
}
.container div
{
  position: absolute;
}
.container #holder
{
  position: absolute ;
  top: 1vh;
  left: -0.25vw;
  width:90vw;
  height: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3vw;
  overflow: hidden;
}
.container #photo0
{   display:block;

  background-size: cover;
  border-radius: 50%;
    border: 5px solid #00ffff;
    width:70vw;
    height:70vw;
    margin:0;
    left:12vw;
    top:5vh;
}
.container #photo1
{   display:block;
  
  background-size: cover;
  border-radius: 50%;
    border: 5px solid #00ffff;
    width:70vw;
    height:70vw;
    margin:0;
    left:12vw;
    top:5vh;
}

.container #photo2
{   display:block;
 
  background-size: cover;
  border-radius: 50%;
    border: 5px solid #00ffff;
    width:70vw;
    height:70vw;
    margin:0;
    left:12vw;
    top:5vh;
}

.container #photo3
{   display:block;
  
  background-size: cover;
  border-radius: 50%;
    border: 5px solid #00ffff;
    width:70vw;
    height:70vw;
    margin:0;
    left:12vw;
    top:5vh;
}
.container #photo4
{   display:block;
  
  background-size: cover;
  border-radius: 50%;
    border: 5px solid #00ffff;
    width:70vw;
    height:70vw;
    margin:0;
    left:12vw;
    top:5vh;
}
.container #photo5
{   display:block;
  
  background-size: cover;
  border-radius: 50%;
    border: 5px solid #00ffff;
    width:70vw;
    height:70vw;
    margin:0;
    left:12vw;
    top:5vh;
}

.container #photo_float
{ display:none;
  background-image: url("images/1.jpg");
   background-size: cover;
  border-radius: 50%;
    border: 5px solid #00ffff;
    width:70vw;
    height:70vw;
    margin:0;
    left:86vw;
    top:5vh;
}
.container #text
{
  display: block;
  right: inherit;
  left: -10vh;
  height:inherit;
  width: 100vw;
  text-align: center;
  top: 43vh;
}
.container #text #team_Name
{   
  
  display: block;
  font-size:3.5vh;
    height:4vh;
    border-bottom: 3px solid white;
    left:10vh;
    right:13vw;
    top: 9vw;
    width:24vw;
    /*padding-bottom: 0px;*/
    text-align: center;
    /*box-sizing: content-box;*/
    font-family:Franklin_gothic1;
    color: #00ffff;
}
.container #text #name1
{
  display: block;
  font-family:Franklin_gothic1;
  font-size:8vh;
  color:white;
  right:-1vh;
  top: 8vh;
  
}


.container #text #name2
{
  display: block;
  font-family:Franklin_gothic1;
  font-size:8vh;
  color:white;
  right:8.5vw;
  top: 16vh;
  color:#00ffff;
}
.container #text #underline
{
  display:block;
  width:22vh;
  height:2vh;
  border-bottom: white solid 4px;
  border-radius: 2px;
  right:-18vw;
  top:23vh;
}
.container #text #icon_next 
{
font-size:4.5vh;
display: block;
 position:absolute;
 right:-5vh;
 top:17.5vh;
}
.container #text #icon_previous 
{
font-size: 4.5vh;
display: block;
position:absolute;
right:40vh;
top:17.5vh; 
}
.bottom{
position: absolute;
display: block;
height: 2.5vh;
width: 100vw;
top:80vh;
}
.bottom div
{
  position: absolute;
  color:white;
}
.bottom #randomText
{
   font-size: 3vh;
   left: 0vw;
   font-style: italic;
   font-family: Franklin_gothic1;
   background-color:#757575;
   padding: 01vw;
   top: -70.5vh;
   z-index: -100;

}
.bottom #venue1
{
   font-family: Franklin_gothic1;
   font-size:4vh;
   right: 33vh;
   top: 6vh;
}
.bottom #venue2
{
    font-family: Franklin_gothic1;
    color: #00ffff;
    font-size:4vh;
    right:28vh;
    top: 6vh;
}
.bottom #venue3
{
    font-family: Franklin_gothic1;
    right:13vh;
    font-size:4vh;
   top: 6vh;  
}
}
